<?xml version="1.0" encoding="UTF-8"?>
<!--
    Felles logback-oppsett for tjenester som bruker sykepenger-libs:logging.
    Se logging/README.md for hvordan det tas i bruk, hvilke parametere som finnes,
    og hvordan oppsettet kan overstyres og utvides.
-->
<included>
    <appender name="nav-logs" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <!-- Inkluder bare spesifikke MDC-felter, ettersom noen MDC-felter kan inneholde personinformasjon -->
            <includeMdcKeyName>callId</includeMdcKeyName>
            <includeMdcKeyName>trace_flags</includeMdcKeyName>
            <includeMdcKeyName>span_id</includeMdcKeyName>
            <includeMdcKeyName>trace_id</includeMdcKeyName>
            <fieldNames>
                <!-- Stacktracer kan inneholde personinformasjon, og skal derfor bare til Team Logs -->
                <stackTrace>[ignore]</stackTrace>
            </fieldNames>
        </encoder>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>NOT_NAV_LOGS</marker>
            </evaluator>
            <OnMatch>DENY</OnMatch>
            <OnMismatch>ACCEPT</OnMismatch>
        </filter>
    </appender>

    <appender name="team-logs" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${TEAM_LOGS_DESTINATION:-team-logs.nais-system:5170}</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>
                {"google_cloud_project":"${GOOGLE_CLOUD_PROJECT}","nais_namespace_name":"${NAIS_NAMESPACE}","nais_pod_name":"${NAIS_POD_NAME}","nais_container_name":"${NAIS_APP_NAME}"}
            </customFields>
            <includeContext>false</includeContext>
        </encoder>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>NOT_TEAM_LOGS</marker>
            </evaluator>
            <OnMatch>DENY</OnMatch>
            <OnMismatch>ACCEPT</OnMismatch>
        </filter>
    </appender>

    <logger name="tjenestekall" level="${TJENESTEKALL_LEVEL:-INFO}" additivity="false">
        <appender-ref ref="team-logs"/>
    </logger>

    <root level="${ROOT_LOG_LEVEL:-INFO}">
        <appender-ref ref="nav-logs"/>
        <appender-ref ref="team-logs"/>
    </root>
</included>
